# Copyright 2018-2021 the Deno authors. All rights reserved. MIT license.

[package]
name = "deno_crypto"
version = "0.24.0"
edition = "2018"
description = "Web Cryptography API implementation for Deno"
authors = ["the Deno authors"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/denoland/deno"

[lib]
path = "lib.rs"

[dependencies]
deno_core = { version = "0.92.0", path = "../../core" }
deno_web = { version = "0.41.0", path = "../web" }
tokio = { version = "1.7.1", features = ["full"] }
rand = "0.8.3"
ring = "0.16.20"
uuid = { version = "0.8.2", features = ["v4"] }
