# Copyright 2018-2025 the Deno authors. MIT license.

[package]
name = "deno_console"
version = "0.202.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true
description = "Implementation of Console API for Deno"

[lib]
path = "lib.rs"

[dependencies]
deno_core.workspace = true
