# Use Unix line endings in all text files.
* text=auto eol=lf
*.png -text

# Tell git which symlinks point to files, and which ones point to directories.
# This is relevant for Windows only, and requires git >= 2.19.2 to work.
/core/libdeno/* symlink=dir
/cli/tests/symlink_to_subdir symlink=dir
