# Copyright 2018-2021 the Deno authors. All rights reserved. MIT license.

[workspace]
members = [
  "cli",
  "core",
  "runtime",
  "serde_v8",
  "test_plugin",
  "test_util",
  "op_crates/crypto",
  "op_crates/fetch",
  "op_crates/url",
  "op_crates/web",
  "op_crates/webgpu",
  "op_crates/webidl",
  "op_crates/websocket",
]
exclude = [
  "std/hash/_wasm"
]

# Optimize these packages for perf
[profile.release.package.rand]
opt-level = 3
[profile.release.package.flate2]
opt-level = 3
[profile.release.package.brotli]
opt-level = 3
[profile.release.package.miniz_oxide]
opt-level = 3
[profile.release.package.async-compression]
opt-level = 3
[profile.release.package.brotli-decompressor]
opt-level = 3
