# Copyright 2018-2023 the Deno authors. All rights reserved. MIT license.

[package]
name = "deno_url"
<<<<<<< HEAD
version = "0.108.0"
=======
version = "0.109.0"
>>>>>>> ef24d1a0b (1.34.3 (#19525))
authors.workspace = true
edition.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true
description = "URL API implementation for Deno"

[lib]
path = "lib.rs"

[dependencies]
deno_core.workspace = true
serde.workspace = true
serde_repr.workspace = true
urlpattern = "0.2.0"

[dev-dependencies]
deno_bench_util.workspace = true
deno_webidl.workspace = true

[[bench]]
name = "url_ops"
harness = false
