# Copyright 2018-2019 the Deno authors. All rights reserved. MIT license.
# Dummy package info required by `cargo fetch`.
# Use tools/sync_third_party.py to install deps after editing this file.
# Deno does not build with cargo. Deno uses a build system called gn.
# See build_extra/rust/BUILD.gn for the manually built configuration of rust
# crates.


[[bin]]
name = "deno"
path = "main.rs"

[package]
name = "deno_cli"
version = "0.3.8"
edition = "2018"

[dependencies]
deno = { path = "../core" }

ansi_term = "0.11.0"
atty = "0.2.11"
clap = "2.33.0"
dirs = "1.0.5"
flatbuffers = "0.5.0"
futures = "0.1.26"
http = "0.1.17"
hyper = "0.12.27"
hyper-rustls = "0.16.1"
integer-atomics = "1.0.2"
lazy_static = "1.3.0"
libc = "0.2.51"
log = "0.4.6"
rand = "0.6.5"
regex = "1.1.6"
remove_dir_all = "0.5.1"
ring = "0.14.6"
rustyline = "3.0.0"
serde_json = "1.0.39"
source-map-mappings = "0.5.0"
tempfile = "3.0.7"
tokio = "0.1.18"
tokio-executor = "0.1.7"
tokio-fs = "0.1.6"
tokio-io = "0.1.12"
tokio-process = "0.2.3"
tokio-rustls = "0.9.2"
tokio-threadpool = "0.1.13"
url = "1.7.2"

[target.'cfg(windows)'.dependencies]
winapi = "0.3.7"

[target.'cfg(unix)'.dependencies]
nix = "0.11.0"
