# Copyright 2018-2022 the Deno authors. All rights reserved. MIT license.

[package]
name = "deno_websocket"
version = "0.68.0"
authors = ["the Deno authors"]
edition = "2021"
license = "MIT"
readme = "README.md"
repository = "https://github.com/denoland/deno"
description = "Implementation of WebSocket API for Deno"

[lib]
path = "lib.rs"

[dependencies]
deno_core = { version = "0.145.0", path = "../../core" }
deno_tls = { version = "0.50.0", path = "../tls" }
http = "0.2.6"
hyper = { version = "0.14.18" }
serde = { version = "1.0.136", features = ["derive"] }
tokio = { version = "1.17", features = ["full"] }
tokio-rustls = "0.23.3"
tokio-tungstenite = { version = "0.16.1", features = ["rustls-tls-webpki-roots"] }
