# Copyright 2018-2021 the Deno authors. All rights reserved. MIT license.

[package]
name = "deno_websocket"
version = "0.27.0"
authors = ["the Deno authors"]
edition = "2018"
license = "MIT"
readme = "README.md"
repository = "https://github.com/denoland/deno"
description = "Implementation of WebSocket API for Deno"

[lib]
path = "lib.rs"

[dependencies]
deno_core = { version = "0.104.0", path = "../../core" }
deno_tls = { version = "0.9.0", path = "../tls" }
http = "0.2.4"
hyper = { version = "0.14.12" }
serde = { version = "1.0.129", features = ["derive"] }
tokio = { version = "1.10.1", features = ["full"] }
tokio-rustls = "0.23.0"

[dependencies.tokio-tungstenite]
version = "0.15.0"
features = ["rustls-tls-webpki-roots"]
# TODO(ry) Waiting for https://github.com/snapview/tokio-tungstenite/pull/198
git = "https://github.com/dnaka91/tokio-tungstenite"
branch = "rustls-0.20"
