# Copyright 2018-2020 the Deno authors. All rights reserved. MIT license.

[package]
name = "deno_core"
version = "0.53.0"
edition = "2018"
description = "A secure JavaScript/TypeScript runtime built with V8, Rust, and Tokio"
authors = ["the Deno authors"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/denoland/deno"

[lib]
path = "lib.rs"

[dependencies]
downcast-rs = "1.2.0"
futures = "0.3.5"
lazy_static = "1.4.0"
libc = "0.2.74"
log = "0.4.11"
rusty_v8 = "0.8.1"
serde_json = { version = "1.0.57", features = [ "preserve_order" ] }
smallvec = "1.4.2"
url = "2.1.1"

[[example]]
name = "deno_core_http_bench"
path = "examples/http_bench.rs"

# These dependendencies are only used for deno_core_http_bench.
[dev-dependencies]
tokio = { version = "0.2.22", features = ["full"] }
