# Copyright 2018-2019 the Deno authors. All rights reserved. MIT license.

[package]
name = "deno"
version = "0.16.0"
edition = "2018"
description = "A secure JavaScript/TypeScript runtime built with V8, Rust, and Tokio"
authors = ["The deno authors <bertbelder@nodejs.org>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/denoland/deno"

[lib]
path = "lib.rs"

# NOTE: The ninja build of snapshot_creator gets clobbered by 'cargo build' if
# the following is added. This breaks incremental 'cargo build'.
# [[bin]]
# name = "snapshot_creator"
# path = "snapshot_creator.rs"

[dependencies]
futures = "0.1.28"
lazy_static = "1.3.0"
libc = "0.2.62"
log = "0.4.8"
serde_json = "1.0.40"
url = "2.1.0"

[[example]]
name = "deno_core_http_bench"
path = "examples/http_bench.rs"

# tokio is only used for deno_core_http_bench
[dev_dependencies]
tokio = "0.1.18"
