# Copyright 2018-2025 the Deno authors. MIT license.

[package]
name = "deno_fetch"
version = "0.246.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
readme = "README.md"
repository = "https://github.com/denoland/deno"
description = "DEPRECATED: use `deno_web` instead"

[lib]
path = "lib.rs"
