# Copyright 2018-2025 the Deno authors. MIT license.

[package]
name = "deno_fetch"
version = "0.246.0"
authors = ["the Deno authors"]
edition = "2024"
license = "MIT"
readme = "README.md"
repository = "https://github.com/denoland/deno"
description = "DEPRECATED: use `deno_web` instead"

[lib]
path = "lib.rs"
