# Copyright 2018-2023 the Deno authors. All rights reserved. MIT license.

[package]
name = "deno_fetch"
<<<<<<< HEAD
version = "0.150.0"
=======
version = "0.151.0"
>>>>>>> 172e5f0a0 (1.38.5 (#21469))
authors.workspace = true
edition.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true
description = "Fetch API implementation for Deno"

[lib]
path = "lib.rs"

[dependencies]
bytes.workspace = true
data-url.workspace = true
deno_core.workspace = true
deno_tls.workspace = true
dyn-clone = "1"
http.workspace = true
<<<<<<< HEAD
pin-project.workspace = true
=======
>>>>>>> 172e5f0a0 (1.38.5 (#21469))
reqwest.workspace = true
serde.workspace = true
tokio.workspace = true
tokio-util = { workspace = true, features = ["io"] }
