# Copyright 2018-2021 the Deno authors. All rights reserved. MIT license.

[package]
name = "deno_fetch"
version = "0.36.0"
authors = ["the Deno authors"]
edition = "2018"
license = "MIT"
readme = "README.md"
repository = "https://github.com/denoland/deno"
description = "Fetch API implementation for Deno"

[lib]
path = "lib.rs"

[dependencies]
bytes = "1.0.1"
data-url = "0.1.0"
deno_core = { version = "0.95.0", path = "../../core" }
deno_web = { version = "0.44.0", path = "../web" }
http = "0.2.4"
reqwest = { version = "0.11.4", default-features = false, features = ["rustls-tls", "stream", "gzip", "brotli"] }
serde = { version = "1.0.126", features = ["derive"] }
tokio = { version = "1.8.1", features = ["full"] }
tokio-stream = "0.1.7"
tokio-util = "0.6.7"
