# Copyright 2018-2025 the Deno authors. MIT license.

[package]
name = "deno_crypto"
version = "0.216.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true
description = "Web Cryptography API implementation for Deno"

[lib]
path = "lib.rs"

[dependencies]
aes.workspace = true
aes-gcm.workspace = true
aes-kw = { workspace = true, features = ["alloc"] }
base64.workspace = true
cbc.workspace = true
const-oid.workspace = true
ctr.workspace = true
curve25519-dalek.workspace = true
deno_core.workspace = true
deno_error.workspace = true
deno_web.workspace = true
ecdsa.workspace = true
ed448-goldilocks = { workspace = true, features = ["zeroize"] }
elliptic-curve = { workspace = true, features = ["std", "pem", "arithmetic"] }
num-traits.workspace = true
once_cell.workspace = true
p256 = { workspace = true, features = ["ecdh", "ecdsa"] }
p384 = { workspace = true, features = ["ecdsa"] }
p521.workspace = true
rand.workspace = true
ring = { workspace = true, features = ["std"] }
rsa.workspace = true
serde.workspace = true
serde_bytes.workspace = true
sha1.workspace = true
sha2.workspace = true
signature.workspace = true
spki.workspace = true
thiserror.workspace = true
tokio.workspace = true
uuid.workspace = true
x25519-dalek.workspace = true
