@denotest:registry=http://localhost:4261/
//localhost:4261/:username=deno
# base64 of land
//localhost:4261/:_password=bGFuZA==
@denotest2:registry=http://localhost:4262/
//localhost:4262/:username=deno
# base64 of land2
//localhost:4262/:_password=bGFuZDI=
