# Copyright 2018-2024 the Deno authors. All rights reserved. MIT license.

[package]
name = "deno_webstorage"
<<<<<<< HEAD
version = "0.125.0"
=======
version = "0.126.0"
>>>>>>> aa23ccd1a (1.39.3 (#21913))
authors.workspace = true
edition.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true
description = "Implementation of WebStorage API for Deno"

[lib]
path = "lib.rs"

[dependencies]
deno_core.workspace = true
deno_web.workspace = true
rusqlite.workspace = true
serde.workspace = true
