# Copyright 2018-2022 the Deno authors. All rights reserved. MIT license.

[package]
name = "deno_webstorage"
version = "0.77.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true
description = "Implementation of WebStorage API for Deno"

[lib]
path = "lib.rs"

[dependencies]
deno_core.workspace = true
deno_web.workspace = true
rusqlite.workspace = true
serde.workspace = true
