# Copyright 2018-2023 the Deno authors. All rights reserved. MIT license.

[package]
name = "serde_v8"
version = "0.81.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true
description = "Rust to V8 serialization and deserialization"

[lib]
path = "lib.rs"

[dependencies]
bytes.workspace = true
derive_more = "0.99.17"
serde.workspace = true
serde_bytes.workspace = true
smallvec = { workspace = true, features = ["union"] }
v8.workspace = true

[dev-dependencies]
bencher.workspace = true
serde_json.workspace = true

[[example]]
name = "basic"

[[bench]]
name = "de"
harness = false

[[bench]]
name = "ser"
harness = false
