# Copyright 2018-2026 the Deno authors. MIT license.

[package]
name = "deno_node"
version = "0.169.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true
description = "Node compatibility for Deno"

[lib]
path = "lib.rs"

[features]
sync_fs = ["deno_fs/sync_fs", "deno_package_json/sync", "node_resolver/sync"]

[dependencies]
base64.workspace = true
boxed_error.workspace = true
brotli.workspace = true
bytes.workspace = true
data-encoding.workspace = true
deno_core.workspace = true
deno_dotenv.workspace = true
deno_error.workspace = true
deno_fetch.workspace = true
deno_fs.workspace = true
deno_inspector_server.workspace = true
deno_io.workspace = true
deno_net.workspace = true
deno_node_crypto.workspace = true
deno_node_sqlite.workspace = true
deno_package_json.workspace = true
deno_path_util.workspace = true
deno_permissions.workspace = true
deno_process.workspace = true
deno_tls.workspace = true
deno_whoami.workspace = true
h2.workspace = true
http.workspace = true
http-body-util.workspace = true
hyper.workspace = true
hyper-util.workspace = true
idna.workspace = true
ipnetwork.workspace = true
libc.workspace = true
libz-sys.workspace = true
log.workspace = true
node_resolver.workspace = true
node_shim.workspace = true
once_cell.workspace = true
rand.workspace = true
rustls-tokio-stream.workspace = true
serde.workspace = true
socket2.workspace = true
sys_traits = { workspace = true, features = ["real", "winapi", "libc"] }
thiserror.workspace = true
tokio.workspace = true
tokio-eld.workspace = true
tower-service.workspace = true
url.workspace = true
webpki-root-certs.workspace = true
winapi.workspace = true
zstd.workspace = true

[target.'cfg(unix)'.dependencies]
errno = "0.3.10"
nix = { workspace = true, features = ["user"] }

[target.'cfg(windows)'.dependencies]
windows-sys = { workspace = true, features = ["Win32_Networking_WinSock"] }
winapi = { workspace = true, features = ["consoleapi"] }
deno_subprocess_windows.workspace = true
