# Copyright 2018-2022 the Deno authors. All rights reserved. MIT license.

[package]
name = "deno_node"
version = "0.4.0"
authors = ["the Deno authors"]
edition = "2021"
license = "MIT"
readme = "README.md"
repository = "https://github.com/denoland/deno"
description = "Node compatibility for Deno"

[lib]
path = "lib.rs"

[dependencies]
deno_core = { version = "0.149.0", path = "../../core" }
once_cell = "1.12.0"
path-clean = "=0.1.0"
regex = "1"
serde = "1.0.136"
