# Copyright 2018-2025 the Deno authors. MIT license.

[package]
name = "deno_node"
version = "0.130.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true
description = "Node compatibility for Deno"

[lib]
path = "lib.rs"

[features]
sync_fs = ["deno_fs/sync_fs", "deno_package_json/sync", "node_resolver/sync"]

[dependencies]
aead-gcm-stream = "0.4"
aes.workspace = true
base64.workspace = true
blake2 = "0.10.6"
boxed_error.workspace = true
brotli.workspace = true
bytes.workspace = true
cbc.workspace = true
const-oid = "0.9.5"
ctr.workspace = true
data-encoding.workspace = true
deno_core.workspace = true
deno_error.workspace = true
deno_fetch.workspace = true
deno_fs.workspace = true
deno_io.workspace = true
deno_net.workspace = true
deno_package_json.workspace = true
deno_path_util.workspace = true
deno_permissions.workspace = true
deno_process.workspace = true
deno_whoami = "0.1.0"
der = { version = "0.7.9", features = ["derive"] }
digest = { version = "0.10.5", features = ["core-api", "std"] }
dsa = "0.6.3"
ecb.workspace = true
ecdsa = "0.16.9"
ed25519-dalek = { version = "2.1.1", features = ["digest", "pkcs8", "rand_core", "signature"] }
elliptic-curve.workspace = true
faster-hex.workspace = true
h2.workspace = true
hkdf.workspace = true
http.workspace = true
http-body-util.workspace = true
hyper.workspace = true
hyper-util.workspace = true
idna = "1.0.3"
ipnetwork = "0.20.0"
k256 = "0.13.1"
libc.workspace = true
libsqlite3-sys = "0.30.1"
libz-sys.workspace = true
md-5 = { version = "0.10.5", features = ["oid"] }
md4 = "0.10.2"
node_resolver.workspace = true
num-bigint.workspace = true
num-bigint-dig = "0.8.2"
num-integer = "0.1.45"
num-traits = "0.2.14"
once_cell.workspace = true
p224.workspace = true
p256.workspace = true
p384.workspace = true
pbkdf2 = "0.12.1"
pkcs8 = { version = "0.10.2", features = ["std", "pkcs5", "encryption"] }
rand.workspace = true
ring.workspace = true
ripemd = { version = "0.1.3", features = ["oid"] }
rsa.workspace = true
rusqlite.workspace = true
scrypt = "0.11.0"
sec1.workspace = true
serde.workspace = true
sha1.workspace = true
sha2.workspace = true
sha3 = { version = "0.10.8", features = ["oid"] }
signature.workspace = true
sm3 = "0.4.2"
spki.workspace = true
sys_traits = { workspace = true, features = ["real", "winapi", "libc"] }
thiserror.workspace = true
tokio.workspace = true
tokio-eld = "0.2"
url.workspace = true
webpki-root-certs.workspace = true
winapi.workspace = true
x25519-dalek = { version = "2.0.0", features = ["static_secrets"] }
x509-parser = "0.15.0"
yoke.workspace = true

[target.'cfg(unix)'.dependencies]
errno = "0.3.8"

[target.'cfg(windows)'.dependencies]
windows-sys.workspace = true
winapi = { workspace = true, features = ["consoleapi"] }
