# Copyright 2018-2025 the Deno authors. MIT license.

[package]
name = "deno_canvas"
version = "0.71.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true
description = "OffscreenCanvas implementation for Deno"

[lib]
path = "lib.rs"

[dependencies]
bytemuck.workspace = true
deno_core.workspace = true
deno_error.workspace = true
image = { workspace = true, features = ["png", "jpeg", "bmp", "ico"] }
# NOTE: The qcms is a color space conversion crate which parses ICC profiles that used in Gecko,
# however it supports only 8-bit color depth currently.
# https://searchfox.org/mozilla-central/rev/f09e3f9603a08b5b51bf504846091579bc2ff531/gfx/qcms/src/transform.rs#130-137
# It seems to be failed to build for aarch64-unknown-linux-gnu with pkg-config.
# https://github.com/kornelski/rust-lcms2-sys/blob/b8e9c3efcf266b88600318fb519c073b9ebb61b7/README.md#L26
lcms2 = { workspace = true, features = ["static"] }
num-traits.workspace = true
thiserror.workspace = true
