@denotest:registry=http://127.0.0.1:4252/private_registry_1/
//127.0.0.1:4252/private_registry_1/denotest/:_authToken=private-reg-token
@denotest2:registry=http://127.0.0.1:4253/private_registry_2/
//127.0.0.1:4253/private_registry_2/denotest2/:_authToken=private-reg-token2
