@denotest:registry=http://127.0.0.1:4559/npm-private/
//127.0.0.1:4559/npm-private/denotest/:_authToken=private-reg-token
@denotest2:registry=http://127.0.0.1:4560/npm-private2/
//127.0.0.1:4560/npm-private2/denotest2/:_authToken=private-reg-token2
