
body {
  color: #111;
  background: #f0f0f0;
  font-family: Arial;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.fullscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background-color: #fafafa;

  font-family: 'Major Mono Display', monospace;
  text-transform: lowercase;
}
.fullscreen .logo {
  max-width: 70%;
}
.fullscreen .heading {
  align-self: stretch;
  text-align: center;
}
.fullscreen .title {
  font-size: 5rem;
}
.fullscreen .subtitle {
  font-size: 2rem;
}

main {
  max-width: 800px;
  margin: 0px auto;
}
svg {
  margin: 0px auto;
}

a {
  color: #333;
}
a:hover {
  color: #488;
}

a.badge {
  display: inline-block;
  border-radius: 2px;
  height: 20px;
  transition: .3s box-shadow;
}
a.badge:hover {
  box-shadow: 0 0 5px 0 #333;
}

pre {
  background: #ddd;
  padding: 15px;
  word-wrap: normal;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #aaa;
  padding: 6px;
}

@media only screen and (max-device-width: 480px) {

  main {
    margin: 15px;
  }

  body {
    margin: 0;
  }
}

