# Copyright 2018-2025 the Deno authors. MIT license.

[package]
name = "deno_web"
version = "0.252.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true
description = "Collection of Web APIs"

[lib]
path = "lib.rs"

[dependencies]
async-stream.workspace = true
async-trait.workspace = true
base64-simd.workspace = true
bytes.workspace = true
chrono = { workspace = true, features = ["now"] }
deno_core.workspace = true
deno_error.workspace = true
deno_permissions.workspace = true
encoding_rs.workspace = true
flate2 = { workspace = true, features = ["default"] }
futures.workspace = true
http.workspace = true
http-body.workspace = true
http-body-util.workspace = true
hyper.workspace = true
hyper-util.workspace = true
log.workspace = true
rusqlite.workspace = true
serde.workspace = true
sha2.workspace = true
slab.workspace = true
thiserror.workspace = true
tokio.workspace = true
tokio-util.workspace = true
urlpattern.workspace = true
uuid = { workspace = true, features = ["serde"] }

[dev-dependencies]
deno_bench_util.workspace = true
deno_console.workspace = true
deno_webidl.workspace = true

[[bench]]
name = "encoding"
harness = false

[[bench]]
name = "timers_ops"
harness = false

[[bench]]
name = "url_ops"
harness = false
