# Copyright 2018-2025 the Deno authors. MIT license.

[package]
name = "deno_web"
version = "0.252.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true
description = "Collection of Web APIs"

[lib]
path = "lib.rs"

[dependencies]
async-trait.workspace = true
base64-simd.workspace = true
bytemuck.workspace = true
bytes.workspace = true
deno_core.workspace = true
deno_error.workspace = true
deno_permissions.workspace = true
encoding_rs.workspace = true
flate2 = { workspace = true, features = ["default"] }
futures.workspace = true
image = { workspace = true, features = ["png", "jpeg", "bmp", "ico"] }
# NOTE: The qcms is a color space conversion crate which parses ICC profiles that used in Gecko,
# however it supports only 8-bit color depth currently.
# https://searchfox.org/mozilla-central/rev/f09e3f9603a08b5b51bf504846091579bc2ff531/gfx/qcms/src/transform.rs#130-137
# It seems to be failed to build for aarch64-unknown-linux-gnu with pkg-config.
# https://github.com/kornelski/rust-lcms2-sys/blob/b8e9c3efcf266b88600318fb519c073b9ebb61b7/README.md#L26
lcms2 = { workspace = true, features = ["static"] }
num-traits.workspace = true
serde.workspace = true
thiserror.workspace = true
tokio.workspace = true
urlpattern.workspace = true
uuid = { workspace = true, features = ["serde"] }

[dev-dependencies]
deno_bench_util.workspace = true
deno_console.workspace = true
deno_webidl.workspace = true

[[bench]]
name = "encoding"
harness = false

[[bench]]
name = "timers_ops"
harness = false

[[bench]]
name = "url_ops"
harness = false
