name: android-build

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.run_id }}'
  cancel-in-progress: true

jobs:
  build-android:
    name: 'build android ${{ matrix.arch }}'
    runs-on: ubuntu-24.04
    timeout-minutes: 120
    strategy:
      matrix:
        arch: [aarch64, x86_64]
      fail-fast: false
    
    steps:
      - name: Configure git
        run: |
          git config --global core.symlinks true
          git config --global fetch.parallel 32
      
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 5
          submodules: false
      
      - name: Clone submodule ./tests/util/std
        run: git submodule update --init --recursive --depth=1 -- ./tests/util/std
      
      - name: Cache Cargo home
        uses: cirruslabs/cache@v4
        with:
          path: |
            ~/.cargo/.crates.toml
            ~/.cargo/.crates2.json
            ~/.cargo/bin
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db
          key: 'cargo-home-android-${{ matrix.arch }}-${{ hashFiles(''Cargo.lock'') }}'
          restore-keys: 'cargo-home-android-${{ matrix.arch }}-'
      
      - uses: dsherret/rust-toolchain-file@v1
      
      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      
      - name: Add Android targets
        run: |
          rustup target add ${{ matrix.arch }}-linux-android
      
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 curl unzip git
      
      - name: Build for Android
        env:
          # Build V8 from source since prebuilt binaries don't exist for Android
          V8_FROM_SOURCE: 1
          # Python for V8 build scripts
          PYTHON: python3
          # GN args - let rusty_v8's build.rs handle most Android setup
          EXTRA_GN_ARGS: 'use_jumbo_build=true'
        run: |
          # rusty_v8 will automatically download NDK r26c and clone required repos
          cargo build --target ${{ matrix.arch }}-linux-android --locked -vv
      
      - name: Verify binary exists
        run: |
          ls -lh target/${{ matrix.arch }}-linux-android/debug/deno
