name: ecosystem_compat_test

on:
  schedule:
    - cron: '0 10 * * *'
  workflow_dispatch:

jobs:
  test:
    runs-on: '${{ matrix.runner }}'
    strategy:
      matrix:
        include:
          - os: linux
            runner: ubuntu-latest
          - os: windows
            runner: windows-latest
          - os: darwin
            runner: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: canary
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.11
      - name: Configure S3 Credentials
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.S3_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.S3_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "AWS_ENDPOINT_URL_S3=${{ secrets.S3_ENDPOINT }}" >> $GITHUB_ENV
          echo "AWS_DEFAULT_REGION=${{ secrets.S3_REGION }}" >> $GITHUB_ENV
      - name: Run tests
        run: deno -A tools/ecosystem_compat_tests.ts
      - name: Upload the report to dl.deno.land
        run: |-
          aws s3 cp tools/ecosystem_report.json s3://dl-deno-land/ecosystem-compat-test/$(date +%F)/report-${{matrix.os}}.json
  summary:
    runs-on: ubuntu-latest
    needs: test
    if: ${{ always() }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Setup Deno
        uses: denoland/setup-deno@v2
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.11
      - name: Configure S3 Credentials
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.S3_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.S3_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "AWS_ENDPOINT_URL_S3=${{ secrets.S3_ENDPOINT }}" >> $GITHUB_ENV
          echo "AWS_DEFAULT_REGION=${{ secrets.S3_REGION }}" >> $GITHUB_ENV
      - name: Post message to slack channel
        run: deno -A tools/ecosystem_compat_slack.ts
        env:
          SLACK_TOKEN: ${{ secrets.NODE_COMPAT_SLACK_TOKEN }} # NodeCompat bot
          SLACK_CHANNEL: ${{ secrets.NODE_COMPAT_SLACK_CHANNEL }}
