# Copyright 2018-2025 the Deno authors. MIT license.

[package]
name = "deno_http"
version = "0.200.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true
description = "HTTP server implementation for Deno"

[features]
default = ["default_property_extractor"]
"__http_tracing" = []
default_property_extractor = []

[lib]
path = "lib.rs"

[[bench]]
name = "compressible"
harness = false

[dependencies]
async-compression = { workspace = true, features = ["tokio", "brotli", "gzip"] }
async-trait.workspace = true
base64.workspace = true
brotli.workspace = true
bytes.workspace = true
cache_control.workspace = true
deno_core.workspace = true
deno_error.workspace = true
deno_net.workspace = true
deno_telemetry.workspace = true
deno_websocket.workspace = true
flate2.workspace = true
http.workspace = true
http_v02.workspace = true
httparse.workspace = true
hyper.workspace = true
hyper-util.workspace = true
hyper_v014 = { workspace = true, features = ["server", "stream", "http1", "http2", "runtime"] }
itertools.workspace = true
log.workspace = true
memchr.workspace = true
mime.workspace = true
once_cell.workspace = true
percent-encoding.workspace = true
phf.workspace = true
pin-project.workspace = true
ring.workspace = true
scopeguard.workspace = true
serde.workspace = true
smallvec.workspace = true
thiserror.workspace = true
tokio.workspace = true
tokio-util = { workspace = true, features = ["io"] }

[dev-dependencies]
bencher.workspace = true
http-body-util.workspace = true
rand.workspace = true
